.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.usuarios {
	font-size: 2vmax;
	width: 50%;
	float: left;
	background-color: white;
	padding-left: 29vmax;
	line-height: 1.5;
	height: 100%;	
}

.puntos {
	width: 50%;
	float: right;
	background-color: white;
	line-height: 1.5;
	padding-left: 4vmax;
	font-size: 2vmax;
	height: 100%;
}

.title {
	text-align: center;
}