{{> header }}
  <div class="container">
    <form action="/prediction" method="post">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <input type="submit" value="Octavos" name="option" class="btn btn-primary"/>
        </div>
        <div class="btn-group" role="group">
          <input type="submit" value="Cuartos" name="option" class="btn btn-primary"/>
        </div>
        <div class="btn-group" role="group">
          <input type="submit" value="Semifinales" name="option" class="btn btn-primary"/>
        </div>
        <div class="btn-group" role="group">
          <input type="submit" value="Finales" name="option" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
{{> footer }}
