<!-- es bueno renderizar los inputs? o nell--->
{{> header }}
  <div class="container">
    <form class="" action="/prediction/new" method="post">
      <div class="row">
        <h5>Juegos</h5>
        <div class="col-md-4 col-sm-6 grupos">
         <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Equipo</span>
              <input type="text" class="form-control" placeholder="Equipo" name="partidos[]" aria-describedby="sizing-addon3">
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Equipo</span>
              <input type="text" class="form-control" placeholder="Equipo" name="partidos[]" aria-describedby="sizing-addon3">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 grupos">
           <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Equipo</span>
              <input type="text" class="form-control" placeholder="Equipo" name="partidos[]" aria-describedby="sizing-addon3">
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Equipo</span>
              <input type="text" class="form-control" placeholder="Equipo" name="partidos[]" aria-describedby="sizing-addon3">
            </div>
        </div>
        </div>
      <input type="submit" class="btn btn-success" name="registro" value="Registrar">
      <input type="hidden" name="fecha" value="2">
    </form>
  </div>
{{> footer }}
