{{> header}}
  <div class="container">
      <div class="panel panel-primary">
      <div class="panel-heading">Predicciones</div>
      <div class="panel-body">
        <p>Partidos que fueron jugados hasta el momento</p>
      </div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Bandera</th>
        </tr>
      </thead>
      <tbody>
        {{#games}}
          <tr>
            <td>{{name}}</td>
            <td>
              <img src="images/{{image}}" alt={{image}}>
            </td>

          </tr>
        {{/games}}
      </tbody>
    </table>
    </div>
  </div>
{{> footer}}
