<!DOCTYPE html>
<html lang = "en">
<head>
  	<title>CargarFecha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron bg-primary text-white">
  		<h1 align= "center">Cargar Partido</h1>
  	</div>
  	<form method = "post" action="/cargar">
  		<br>
  		<div class = "row">
  			<div class="col">
  				<h1 align= "center">Partido 1</h1>
  				<br>
  				<select name="local1">
   					<option selected value=""> Elige el equipo local </option>
					{{#equipos}}
   						<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   					</option>
   				</select>
   				<br>
   				<select name="visitante1">
   					<option selected value=""> Elige el equipo visitante </option>
   					{{#equipos}}
   						<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   				</select>
   			</div>
   			<br>
   			<div class = "col">
   				<h1 align= "center">Partido 2</h1>
  				<br>
  				<select name="local2">
   					<option selected value=""> Elige el equipo local </option>
   					{{#equipos}}
   					<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   				</select>
   				<br>
   				<select name="visitante2">
   					<option selected value=""> Elige el equipo visitante </option>
   					{{#equipos}}
   						<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   				</select>
   			</div>
   			<br>
   			<div class = "col">
   				<h1 align= "center">Partido 3</h1>
   				<br>	
  				<select name="local3">
   					<option selected value=""> Elige el equipo local </option>
   					{{#equipos}}
   						<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   				</select>
   				<br>	
   				<select name="visitante3">
   					<option selected value=""> Elige el equipo visitante </option>
   					{{#equipos}}
   						<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   				</select>
   			</div>
   			<br>
   			<div class = "col">
   				<h1 align= "center">Partido 4</h1>
   				<br>	
   				<select name="local4">
   					<option selected value=""> Elige el equipo local </option>
   					{{#equipos}}
   						<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   				</select>
   				<br>
   				<select name="visitante4">
   					<option selected value=""> Elige el equipo visitante </option>
   					{{#equipos}}
   						<option value="{{cod_equipo}}"> {{nom_equipo}}  </option>
   					{{/equipos}}
   				</select>
   			</div>	
   			<br>		
  		</div>
  		<br>
  		<br>
  		<br>
  		<div align="center">
  			<a href="/logsu"></a> <button type="submit" class="btn btn-primary">Guardar</button>
  		</div>
  	</form>	
 </body>
</html>			