<!DOCTYPE html>
<html lang = "en">
<head>
  	<title>CargarFecha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron bg-primary text-white">
  		<h1 align= "center">Cargar Partido</h1>
  		</div>
  	</div>
  	<div class="container col-sm-3">
  	<form method = "post" action="/cargar">
  			<div>
  			 <br>
  			 <h2>probad</h2>
  			{{#equipos}}
  			<div class="pru">
   				<p><span class="name">{{cod_equipo}}</p>
   			</div>
   			{{/equipos}}
  			
  			<br>
  			 <br>
  			 <h2>probad</h2>
  			{{#equipos}}
  			<div class="pru">
   				<p><span class="name">{{nom_equipo}}<span/></p>
   			</div>
   			{{/equipos}}
  			
  			<br>
  			<h1 align= "center">Partido 1</h1>
  			<select name="local">
   				<option selected value=""> Elige el equipo local </option>
				{{#equipos}}
   					<option value="cod_equipo"> {{{nom_equipo}}}  </option>
   				{{/equipos}}
   				</option>
   			</select>
   			</div>
   			<br>
   			<div>
   			<select name="visitante">
   				<option selected value=""> Elige el equipo visitante </option>
   				<option value="1"> {{#.}} {{0}} {{/.}} </option>
   				<option value="2"> {{#.}} {{1}} {{/.}} </option>
   				<option value="3"> {{#.}} {{2}} {{/.}} </option>
   				<option value="4"> {{#.}} {{3}} {{/.}} </option>
   			</div>
   			</select>
   			<br>
   			<div>
   			<h1 align= "center">Partido 2</h1>
  			<br>
  			<select name="local">
   				<option selected value=""> Elige el equipo local </option>
   				<option value="1"> {{#.}} {{0}} {{/.}} </option>
   				<option value="2"> {{#.}} {{1}} {{/.}} </option>
   				<option value="3"> {{#.}} {{2}} {{/.}} </option>
   				<option value="4"> {{#.}} {{3}} {{/.}} </option>
   			</select>
   			</div>
   			<br>
   			<div>
   			<select name="visitante">
   				<option selected value=""> Elige el equipo visitante </option>
   				<option value="1"> {{#.}} {{0}} {{/.}} </option>
   				<option value="2"> {{#.}} {{1}} {{/.}} </option>
   				<option value="3"> {{#.}} {{2}} {{/.}} </option>
   				<option value="4"> {{#.}} {{3}} {{/.}} </option>
   			</div>
   			</select>
   			<br>
   			<h1 align= "center">Partido 3</h1>
   			<br>	
   			<div>
  			<select name="local">
   				<option selected value=""> Elige el equipo local </option>
   				<option value="1"> {{#.}} {{0}} {{/.}} </option>
   				<option value="2"> {{#.}} {{1}} {{/.}} </option>
   				<option value="3"> {{#.}} {{2}} {{/.}} </option>
   				<option value="4"> {{#.}} {{3}} {{/.}} </option>
   			</select>
   			</div>
   			<br>
   			<div>
   			<select name="visitante">
   				<option selected value=""> Elige el equipo visitante </option>
   				<option value="1"> {{#.}} {{0}} {{/.}} </option>
   				<option value="2"> {{#.}} {{1}} {{/.}} </option>
   				<option value="3"> {{#.}} {{2}} {{/.}} </option>
   				<option value="4"> {{#.}} {{3}} {{/.}} </option>
   			</div>
   			</select>
   			<div>
   			<br>
   			<h1 align= "center">Partido 4</h1>
   			<br>	
  			<select name="local">
   				<option selected value=""> Elige el equipo local </option>
   				<option value="1"> {{#.}} {{0}} {{/.}} </option>
   				<option value="2"> {{#.}} {{1}} {{/.}} </option>
   				<option value="3"> {{#.}} {{2}} {{/.}} </option>
   				<option value="4"> {{#.}} {{3}} {{/.}} </option>
   			</select>
   			</div>
   			<br>
   			<div>
   			<select name="visitante">
   				<option selected value=""> Elige el equipo visitante </option>
   				<option value="1"> {{#.}} {{0}} {{/.}} </option>
   				<option value="2"> {{#.}} {{1}} {{/.}} </option>
   				<option value="3"> {{#.}} {{2}} {{/.}} </option>
   				<option value="4"> {{#.}} {{3}} {{/.}} </option>
   			</div>
   			</select>
   			<br>		
  		<a href="/logsu"></a> <button type="submit" class="btn btn-primary mb-6">Guardar</button>
  	</form>
  	</div>	
 </body>
</html>			