<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Pronosticos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>

  <body>
  	<div class="jumbotron bg-primary text-white">
  			<h1 align= "center">Pronosticar Resultado</h1>
  			<p align= "center">Seleccione la fecha a pronosticar</p>
  		</div>
	</div>
	<div class="col-sm-3">
		<form method = "get" action="/pronosticado">
      		<div>
        	<select name="fecha">
        		<option selected value=""> Elige la fecha </option>
        		{{#Fechas}}
          			<option value="{{num_fecha}}">{{num_fecha}}</option>
				{{/Fechas}}      	
        	</select>
      		</div>
      		<br>
        	<a href="/pronosticado"></a> <button type="submit" class="btn btn-primary mb-6">Pronosticar</button>
        </form> 
	</div>
  </body>
</html>