
</head>
<form class="" action="/users" method="post">
  <input type="text" id="username" name="username" value="">
  <input type="text" id="password" name="password" value="">
  <input type="submit" name="" value="enviar">
</form>
