<h1 style="color:Tomato;">{{title}}</h1>

<p>
	{{#usersList}}
		User Name: {{u}}
	{{/usersList}}	

	<form>
  		Username:<br>
  		<input type="text" name="username"><br>
  		Password:<br>
  		<input type="password" name="pass">
	</form> 
</p>